body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: honeydew;
}
form{
    max-width: 800px;
    min-width: 300px;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
    color: darkslategray;
    text-shadow: black 2px 1px;
}
#description{
    margin-top: -20px;
    height: 30px;
    font-weight: bold;
    color: darkslategray;
    text-align: center;
}
label{
    display: flex;
    margin: 10px;
    font-weight: bold;
    color: darkslategray;
}
#yr-label{
    margin-top: -10px;
    height: 30px;
}
.inputs{
    width: 97%;
    height: 30px;
    margin-left: 10px;
    border-radius: 10px;
}
.gen{
    margin-left: 10px;
    margin-right: 5px;
    cursor: pointer;
    color: darkslategray;
}
#gender{
    height: 10px;
}
#gender-rad{
    margin-left: 5px;
    display: flex;
    gap: 1px;
}
.opt{
    margin-top: 15px;
    color: darkslategray;
    display: block;
}
#dropdown{
    width: 98%;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 10px;
}
.desc{
    width: 97%;
    height: 100px;
    margin-top: 10px;
    border-radius: 10px;
}
#txtarea{
    width: 100%;
}
#submit{
    width: 20%;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: darkslategray;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}
#submit:hover{
    background-color: slategray;
    transition: 0.5s ease-in-out;
}
.ans{
    margin-left: 15px;
    margin-top: 15px;
    color: darkslategray;
    display: inline;
    transform: scale(1.5);
}


