*{
    font-family: monospace;
    font-size: large;
}
body {
    margin: 10px;
    padding: 20px;
    background-color: lightblue;
}
#main_header{
    text-align: left;
    font-size: xxx-large;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -30px;
    gap: 5px; 
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    position: fixed;
}
a.nav-link {
    text-decoration: none;
    font-size: x-large;
    color: black;
    font-weight: bold;
    padding: 10px;
}
hr{
    border: solid black 1px;
    width: 200px;
}
#main-doc{
    margin-left: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#main_hr{
    border: solid black 1px;
    width: 100%;
}
#section_header{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
code{
    display: block;
    overflow-x: auto;          
    line-height: 1.6;
    background-color: #f3f3f3; 
    border-radius: 6px;
    border: 1px solid #ddd;
    font-family: Consolas, monospace;
    font-size: 0.95rem;
}
